.apps--mobile {
  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: @basic-blue;
  }
}

.apps__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  list-style: none;
  color: @basic-white;
}

.apps__item {
  font-size: 14px;
  text-align: center;
}

.apps__download {
  font-weight: 700;
  color: @basic-white;
  text-decoration: none;
  border: 3px solid @basic-white;
  border-radius: 29px;
}

.apps__link {
  color: @basic-white;
  text-decoration: none;
}

.get-app-on {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: -1;
}
