.form {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 940px;
}

.form__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @basic-blue;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 490px;
    margin-right: auto;
    margin-bottom: 54px;
    margin-left: auto;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 760px;
    margin-bottom: 70px;
  }
}

.form__fill-form {
  display: none;

  @media (min-width: @tablet-width) {
    display: contents;
  }
}

.form__title {
  margin-bottom: 2px;
  margin-left: 23px;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-red;

  &--info {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-right: 17px;
    margin-bottom: 0;
    margin-left: 0;
  }

  &--position {
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: @basic-red;
  }

  &--achievments-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 37px;
    padding-bottom: 35px;
    width: 224px;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      width: auto;
      margin-bottom: 42px;
      padding: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &--apps-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      margin-bottom: 3px;
      margin-left: 10%;
      padding: 0 25px;
    }
  }

  &--emotion-title {
    @media (max-width: @mobile-width-only) {
      margin-bottom: 0;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 22px;
      margin-left: 35%;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &--contacts-title {
    @media (min-width: @tablet-width) {
      margin-bottom: 10px;
      margin-left: 32%;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form__achievments-title,
.form__apps-title {
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.form__emotion-title {
  margin-bottom: 0;
}

.form__contest {
  margin: 0 auto;
  border-style: none;

  &--username-list {
    width: 100%;
    margin-bottom: 44px;
    padding: 0;
    border: none;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      width: 433px;
    }
  }

  &--application {
    @media (min-width: @tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: @desktop-width) {
      min-height: 240px;
      margin-bottom: 40px;
    }
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
    }
  }
}

.form__info {
  position: relative;
  display: flex;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-style: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }

  &--id {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      margin-bottom: 50px;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
    }
  }

  &--id-contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;

    @media (min-width: @tablet-width) {
      flex-direction: column;
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      flex-direction: column;
    }
  }
}

.form__info--id-phone::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 35px;
    width: 62px;
    height: 66px;
    background-color: @basic-gray;
  }

  @media (min-width: @desktop-width) {
    top: 10px;
    height: 64px;
  }
}

.form__info--id-mail::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 35px;
    width: 62px;
    height: 66px;
    background-color: @basic-gray;
  }

  @media (min-width: @desktop-width) {
    top: 10px;
    right: 61px;
    height: 64px;
  }
}

.form__info--id-phone::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 23px;
    right: 56px;
    width: 20px;
    height: 20px;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    top: 29px;
    right: 58px;
  }
}

.form__info--id-mail::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 27px;
    right: 56px;
    width: 20px;
    height: 20px;
    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    top: 33px;
    right: 82px;
  }
}

.form__info--id-contacts:last-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.form__info--id:last-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.form__item-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 47px;

  @media (min-width: @desktop-width) {
    min-width: 225px;
    margin-left: 78px;

    &--beach {
      order: 3;
    }

    &--chuck-norris {
      order: 1;
    }

    &--souvenir {
      order: 4;
    }

    &--tower {
      order: 2;
    }

    &--hotel {
      order: 5;
    }
  }
}

.form__item-checkbox:last-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }
}

.form__checkbox-title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 60px;
  font-family: "Open Sans", sans-serif, "Arial";
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: @basic-blue;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 30px;
  }
}

.form__input-checkbox {
  width: 35px;
  height: 35px;
  background: @basic-white;
  border: 2px solid @basic-gray;
  border-radius: 1px;
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  width: 35px;
  height: 35px;
  background-color: @basic-white;
  border: 2px solid @basic-gray;
  border-radius: 1px;
}

.form__input-checkbox:checked + label::before {
  width: 35px;
  background-image: url("../img/tick-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input-checkbox + label:hover::before,
.form__input-checkbox:checked + label:hover::before {
  border-color: @basic-blue;
}

.form__input-checkbox + label:active::before,
.form__input-checkbox:checked + label:active::before {
  border-color: @basic-red;
}

.form__item-radio {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
  }
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  width: 35px;
  height: 35px;
  background-color: @basic-white;
  border: 2px solid @basic-gray;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: -4px;
  }
}

.form__input-radio:checked + label::before {
  width: 35px;
  background-image: url("../img/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input-radio + label:hover::before,
.form__input-radio:checked + label:hover::before {
  border-color: @basic-blue;
}

.form__input-radio + label:active::before {
  border-color: @basic-red;
}

.form__item-radio:first-child {
  @media (min-width: @tablet-width) {
    margin-top: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 45px;
  }
}

.form__item-radio:last-child {
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__radio-title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 3px;
  margin-left: 70px;
  font-family: "Open Sans", sans-serif, "Arial";
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: @basic-blue;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-left: 9px;
  }
}

.form__input-radio {
  width: 37px;
  height: 37px;
  margin-left: 2px;
  background: @basic-white;
  border: 2px solid @basic-gray;
}

.form__send {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
  width: 276px;
  height: 59px;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  border: 2px solid @basic-green;
  border-radius: 1px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 296px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.form__send:hover {
  background-color: @basic-dark-green;
}

.form__send:active {
  color: @basic-white-opacity;
}

.form__send:disabled {
  background-color: @basic-gray;
  border-color: @basic-gray;
  cursor: default;
}

.form__required-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @basic-blue;
  text-transform: uppercase;
}

.form__star {
  color: @basic-red;
}

.form__share {
  @media (min-width: @tablet-width) {
    display: grid;
    max-width: 93.3%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
  }
}

.form__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.form__list-checkbox {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 75px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

.form__list-radio {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-left: 108px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-left: 123px;
  }
}

.form__enter-telephone {
  width: auto;
  min-height: 60px;
  justify-content: center;
  border: 2px solid @basic-gray;

  @media (min-width: @tablet-width) {
    width: 430px;
    margin-right: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 312px;
    margin: 10px;
    margin-right: 45px;
    margin-bottom: 0;
    padding: 0;
  }
}

.form__enter-email {
  width: auto;
  min-height: 60px;
  justify-content: center;
  border: 2px solid @basic-gray;

  @media (min-width: @tablet-width) {
    width: 430px;
    margin-right: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 312px;
    margin: 10px;
    margin-right: 95px;
    margin-bottom: 0;
    padding: 0;
  }
}

.form__section {
  border: none;

  &--emotions {
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
      order: 2;
      margin: 0;
      margin-bottom: 67px;
      padding-right: 27px;
      padding-bottom: 52px;
      border: 2px solid @basic-gray;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: -1;
      grid-column-end: 1;
      min-width: 936px;
      padding: 0;
    }
  }

  &--username {
    margin: 0;
    padding: 0;

    @media (min-width: @desktop-width) {
      margin-right: 48px;
      padding-right: 25px;
      width: 433px;
    }
  }

  &--achievments-section {
    margin-bottom: 16px;
    background-color: @basic-cream;

    @media (min-width: @tablet-width) {
      order: 2;
      margin-bottom: 52px;
      background-color: @basic-white;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 32px;
      padding: 0;
      grid-row-start: 4;
      grid-row-end: 4;
      grid-column-start: -1;
      grid-column-end: 1;
    }
  }

  &--contacts {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    @media (min-width: @tablet-width) {
      order: 1;
      border: 2px solid @basic-gray;
      margin-bottom: 58px;
    }

    @media (min-width: @desktop-width) {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: -1;
      grid-column-end: 1;
      min-width: 936px;
    }
  }

  &--application-section {
    margin-bottom: 32px;
    padding-top: 39px;
    background-color: @basic-cream;

    @media (min-width: @tablet-width) {
      margin-bottom: 40px;
      background-color: @basic-white;
    }

    @media (min-width: @desktop-width) {
      grid-row-start: -1;
      grid-row-end: 1;
      grid-column-start: 2;
      grid-column-end: 2;
      width: 431px;
      min-height: 330px;
      margin-bottom: 32px;
      padding-top: 0;
    }
  }
}

.form__title-contact {
  @media (min-width: @tablet-width) {
    order: 2;
    align-self: flex-start;
    margin-top: 9px;
    margin-bottom: 8px;
    margin-left: 54px;

    &--last {
      margin-top: 10px;
      margin-left: 55px;
    }
  }

  @media (min-width: @desktop-width) {
    align-self: flex-start;
    margin-left: 77px;
    padding: 0;

    &--last {
      margin-left: 52px;
    }
  }
}

.form__input-area {
  width: 100%;
  min-height: 180px;
  border: 2px solid @basic-gray;

  @media (min-width: @tablet-width) {
    width: 494px;
    min-height: 175px;
  }

  @media (min-width: @desktop-width) {
    width: 816px;
    min-height: 124px;
  }
}

.form__emotions-text {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 4px;
}

.form__enter-surname,
.form__enter-name,
.form__enter-middlename {
  width: auto;
  height: 59px;
  border: 2px solid @basic-gray;
  border-radius: 1px;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 59px;

    &--long {
      width: 95%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 59px;

    &--long {
      width: 95%;
    }
  }
}

.form__enter:hover {
  border-color: @basic-blue;
}

input.form__enter:focus {
  border-color: @basic-red;
  outline: none;
}

.form__your-surname,
.form__your-name,
.form__your-middlename,
.form__your-telephone,
.form__your-email {
  margin: 0;
}

.form__placeholder::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @basic-blue;
}

.form__placeholder--area {
  padding-top: 12px;
  padding-left: 3px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    padding: 0;
    padding-top: 12px;
  }

  @media (min-width: @desktop-width) {
    min-height: 114px;
    margin: 0;
    margin-bottom: 44px;
  }
}

.form__background {
  background-color: @basic-cream;

  @media (min-width: @desktop-width) {
    background-color: @basic-white;
  }
}

.form__achievments-box {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    padding-bottom: 7px;
    border: 2px solid @basic-gray;
  }

  @media (min-width: @desktop-width) {
    min-width: 936px;
    margin-bottom: 17px;
    padding-bottom: 16px;
  }
}

.form__application-box {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
    border: 2px solid @basic-gray;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.form__container {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 450px;
  }
}

.form__fields {
  display: none;

  @media (min-width: @desktop-width) {
    display: contents;
  }
}
