.gallery {
  outline: 1px solid @basic-red;
}

.gallery__title {
  color: @basic-blue;
  font-size: @body-font-size - 4px;
  font-weight: @body-font-weight + 100;
  line-height: @body-line-height + 6px;
  text-align: center;
}

.gallery__item {
  background-color: @basic-cream;
}

.gallery__pin {
  font-size: @body-font-size - 6px;
  font-weight: @body-font-weight + 400;
  line-height: @body-line-height;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-red;
}

.gallery__post-author {
  font-size: @body-font-size - 4px;
  font-style: @body-font-style;
  font-weight: @body-font-weight + 400;
  line-height: @body-line-height;
}

.gallery__post-time {
  font-size: @body-font-size - 6px;
  font-weight: @body-font-weight;
  line-height: @body-line-height;
  color: @basic-blue;
}

.gallery__comment {
  font-size: @body-font-size - 4px;
  font-weight: @body-font-weight + 100;
  line-height: @body-line-height;
  color: @basic-blue;
  text-align: left;
}

.gallery__likes {
  font-size: @body-font-size - 6px;
  font-weight: @body-font-weight + 100;
  line-height: @body-line-height;
  text-transform: uppercase;
  color: @basic-red;
}
