.gallery__wrapper {
  .container();
}

.gallery__main-wrapper {
  .container();
}

.gallery__list {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 28px;
  }
}

.gallery__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 37px;
  margin-left: 37px;
  margin-bottom: 50px;
  color: @basic-blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-right: 58px;
    margin-bottom: 76px;
    margin-left: 58px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 87px;
    margin-right: auto;
    margin-left: auto;
    width: 572px;
  }
}

.gallery__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
  padding-bottom: 19px;
  background-color: @basic-cream;

  &--photo-of-day {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    min-height: 436px;

    &--photo-of-day {
      min-height: auto;
      margin: 0 auto;
      margin-bottom: 46px;
      padding-top: 16px;
      padding-left: 11px;
    }
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    min-height: 537px;
    margin-bottom: 30px;

    &--photo-of-day {
      margin-bottom: 46px;
      min-height: auto;
    }
  }
}

.gallery__post-author {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-right: 3px;

  @media (min-width: @tablet-width) {
    margin-top: 6px;
    margin-left: 12px;

    &--day {
      margin: 0;
    }
  }
}

.gallery__post-time {
  font-size: 12px;
  color: @basic-blue;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-top: 7px;

    &--day {
      margin: 0;
      margin-left: 3px;
    }
  }
}

.gallery__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0;
  margin-top: auto;
  margin-left: 17px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: 29px;
    margin-right: 10px;

    &--day {
      margin-left: 17px;
    }
  }
}

.gallery__comment {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  color: @basic-blue;
}

.gallery__comment br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.gallery__likes {
  margin: 0;
  margin-top: auto;
  margin-left: 48px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic-red;

  &--day {
    margin-left: 32px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 4px;
    margin-left: 29px;

    &--day {
      position: absolute;
      right: 57px;
      top: 18px;
    }
  }

  @media (min-width: @desktop-width) {
    right: 60px;
  }
}

.gallery__likes-img {
  position: absolute;
  left: 17px;
  bottom: 24px;
  width: 13px;
  height: 12px;
  fill: @basic-red;

  @media (min-width: @tablet-width) {
    left: 256px;
    bottom: 31px;

    &--tablet {
      top: 6px;
      left: 105px;
    }
  }
}

.gallery__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery__photo-of-the-day {
  width: 100%;

  @media (min-width: @tablet-width) {
    min-height: 510px;
  }

  @media (min-width: @desktop-width) {
    min-height: 507px;
  }
}

.gallery__image-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery__image {
  width: 100%;
  margin-bottom: 13px;
}

.gallery__post-of-day-wrapper {
  position: relative;
  margin: 0;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.gallery__pin {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 20px;
  width: 140px;
  height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-red;

  @media (min-width: @tablet-width) {
    top: 57px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    right: 130px;
  }
}
