.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 312px;
  background-repeat: no-repeat;

  &--photo,
  &--form {
    margin-top: auto;
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: auto;

    &--form,
    &--photo {
      align-items: center;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &--form,
    &--photo {
      align-items: center;
    }
  }
}

.intro--index {
  @media (min-width: @tablet-width) {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      margin-top: 0;
      padding-top: 82px;
      padding-bottom: 68px;
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-position: center 62px;
      background-size: 700px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      padding-top: 64px;
      padding-bottom: 86px;
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-position: 17px 62px;
      background-size: 1048px auto;
    }
  }
}
