.intro {
  min-height: 286px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  outline: 1px solid @basic-white;
}

.intro__header {
  font-size: @body-font-size + 6px;
  font-weight: @body-font-weight;
  text-align: center;
  line-height: 120%;
  color: @basic-white;
}
