.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}
