.reviews__author-name {
  font-size: @body-font-size;
  font-weight: @body-font-weight + 400;
  font-style: @body-font-style;
  line-height: 30px;
  text-align: center;
}

.reviews__text {
  font-size: 14px;
  font-weight: @body-font-weight + 100;
  line-height: 30px;
  text-align: center;
  color: @basic-dark-blue;
}
