.tariff {
  background-color: @basic-cream;
}

.tariff__item {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-blue;
}

.tariff__price {
  line-height: 30px;
}
