.upload__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @basic-blue;
}

.upload__section {
  background-color: @basic-cream;
}

.upload__post {
  font-size: @body-font-size;
  line-height: @body-line-height;
  font-weight: @body-font-weight + 400;
  text-align: center;
  text-decoration: none;
  color: @basic-red;
  border: 3px solid @basic-red;
  box-sizing: border-box;
  border-radius: 30px;
}
